@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Ysabeau+Infant:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,1;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ysabeau Infant', sans-serif;
}

body {
  font-size: 16px;
}

.home-page {
  min-height: 100vh;
  background-color: rgb(204, 204, 204);
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: aquamarine;
  background: rgba( 255, 255, 255, 0.2 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 0px );
  -webkit-backdrop-filter: blur( 0px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

header > nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

header > nav > a {
  text-decoration: none;
  transition: all .3s ease;
}

header > nav > a:hover {
  background-color: brown;
  padding: 6px;
  color: white;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.batman-logo-wrapper {
  width: 400px;
  height: 400px;
}

.batman-logo-wrapper > img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.about-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.source-link {
  display: flex;
  align-items: center;
}

.batman-title {
  font-size: 24px;
}

.batman-description {
  font-size: 14px;
} 

.links-style {
  padding: 10px;
  background-color: red;
  color: white;
  font-weight: bold;
  border-radius: 6px;
  margin-top: 20px;
  text-decoration: none;
  display: block;
  width: 200px;
  text-align: center;
}

.error-page {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.facts-wrapper {
  padding: 20px;
}

.facts-title {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

